body{
  font-family:Noto Sans CJK KR;
  font-style:black:
}
.container{
  padding-top:20px;
}
h1{
  font-family:Noto Sans CJK KR;
  font-style:black:
}
h2{
  font-family:Noto Sans CJK KR;
  font-style:bold;
}
#statements{
  font-family:Noto Sans CJK KR;
  font-size: 35px;
  font-style: black;
}
